<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
    <unitTestProvider name="SpecRun" />
    <plugins>
      <add name="SpecRun" />
    </plugins>
  </specFlow>
  <appSettings>
    
    <!--PRODUÇÃO - SISTEMA SGP-->
    <!--PROGRAMACAO SELECIONADA-->
    <add key="produto" value="A CURA" />
    <add key="produtoCopiar" value="100 ANOS DE MUSICA" />
    <!--<add key="produto" value="ZORRA TOTAL - SIMULAÇÃO INMETRICS" />
    <add key="produtoCopiar" value="A VIDA ALHEIA" />-->
    <!--<add key="produtoCopiar" value="ZORRA TOTAL - SIMULAÇÃO TI" />
    <add key="produto" value="ZORRA TOTAL - SIMULAÇÃO DALILA" />-->
    <!--FINAL PROGRAMACAO SELECIONADA-->
    
    <!--INICIO CAMADA ESTRUTURAL - PRODUÇÃO-->
    <!--<add key="LoginURL" value="https://sistemas.tvglobo.com.br/lgnp/Login.aspx?ReturnUrl=%2fSGP%2fHome" />
    <add key="HomeURL" value="https://sistemas.tvglobo.com.br/SGP/Home" />
    <add key="FotosURL" value="https://sistemas.tvglobo.com.br/SGP/Foto/Consulta" />
    <add key="CapituloCenaURL" value="https://sistemas.tvglobo.com.br/SGP/CapitulosECenas/Consulta" />
    <add key="IncluirCapituloURL" value="https://sistemas.tvglobo.com.br/SGP/CapituloArquivo#possuo" />
    <add key="IncluirAdendoURL" value="https://sistemas.tvglobo.com.br/SGP/CapituloArquivo/Adendo" />
    <add key="DecupagemBasicaURL" value="https://sistemas.tvglobo.com.br/SGP/capitulosecenas/decupagem" />
    <add key="DecupagemContinuidadeURL" value="https://sistemas.tvglobo.com.br/SGP/Continuidade/Decupagem" />
    <add key="DecupagemArteURL" value="https://sistemas.tvglobo.com.br/SGP/Arte/Decupagem" />
    <add key="IncluirAdendoURL" value="https://sistemas.tvglobo.com.br/SGP/CapituloArquivo/Adendo?codigoCapitulo=0401&amp;codigoPrograma=28405&amp;ehCapitulo=true&amp;codigoCapituloPacote=0401" />
    <add key="PlanejamentoRoteiroURL" value="https://sistemas.tvglobo.com.br/SGP/Roteiro/PlanejamentoGROT" />
    <add key="RoteiroURL" value="https://sistemas.tvglobo.com.br/SGP/Roteiro/Consulta" />
    <add key="CenarioURL" value="https://sistemas.tvglobo.com.br/SGP/Cenario" />
    <add key="PersonagemURL" value="https://sistemas.tvglobo.com.br/SGP/Personagem" />
    <add key="EspelhoGravacaoURL" value="https://sistemas.tvglobo.com.br/SGP/Continuidade/Espelho" />
    <add key="FrequenciaElencoURL" value="https://sistemas.tvglobo.com.br/SGP/Relatorio/Index?relatorio=FrequenciaElenco" />-->
    <!--FIM CAMADA ESTRUTURAL - PRODUÇÃO-->
    
    <!--INICIO LOGIN - COM GROT-->
    <add key="loginIdGrot" value="deleon" />
    <add key="loginPwGrot" value="123Qwe...!!" />
    <add key="loginId" value="rsrosa" />
    <add key="loginPw" value="Semprefla1010" />
    <!--FIM LOGIN - COM GROT-->
    
    <!--DOWNLOAD PATH-->
    <!--<add key="downloadPath" value="C:\\Users\\Leonardo Lima\\Downloads\\"/>-->
    <add key="downloadPath" value="C:\\Users\\Rodrigo2\\Downloads\\"/>
    
    <!--INICIO LOGIN - DESENVOLVIMENTO TORRE-->
    <!--<add key="loginId" value="QUALIDADEUSU" />
    <add key="loginPw" value="Rio#2016" />-->
    <!--FIM LOGIN - DESENVOLVIMENTO TORRE-->
    
    <!--INICIO CAMADA ESTRUTURAL - PRODUÇÃO 2-->
    <!--<add key="LoginURL" value="http://jbpacgpsr005/SGP"/>
    <add key="HomeURL" value="https://jbpacgpsr005/SGP/Home"/>
    <add key="FotosURL" value="https://jbpacgpsr005/SGP/SGP/Foto/Consulta"/>
    <add key="CapituloCenaURL" value="https://jbpacgpsr005/SGP/CapitulosECenas/Consulta"/>
    <add key="IncluirCapituloURL" value="https://jbpacgpsr005/SGP/CapituloArquivo#possuo"/>
    <add key="DecupagemBasicaURL" value="https://jbpacgpsr005/SGP/capitulosecenas/decupagem"/>
    <add key="DecupagemContinuidadeURL" value="https://jbpacgpsr005/SGP/Continuidade/Decupagem"/>
    <add key="DecupagemArteURL" value="https://jbpacgpsr005/SGP/Arte/Decupagem"/>
    <add key="IncluirAdendoURL" value="https://jbpacgpsr005/SGP/CapituloArquivo/Adendo"/>
    <add key="PlanejamentoRoteiroURL" value="https://jbpacgpsr005/SGP/Roteiro/Planejamento"/>
    <add key="RoteiroURL" value="https://jbpacgpsr005/SGP/Roteiro/Consulta"/>
    <add key="CenarioURL" value="https://jbpacgpsr005/SGP/Cenario"/>
    <add key="PersonagemURL" value="https://jbpacgpsr005/SGP/Personagem"/>
    <add key="EspelhoGravacaoURL" value="https://jbpacgpsr005/SGP/Continuidade/Espelho" />
    <add key="FrequenciaElencoURL" value="https://jbpacgpsr005/SGP/Relatorio/Index?relatorio=FrequenciaElenco" />-->
    <!--FIM CAMADA ESTRUTURAL - PRODUÇÃO 2-->
    
    
    <!--INICIO CAMADA ESTRUTURAL - SGP TST TORRE-->
    <!--<add key="LoginURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/lgnp/Login.aspx?ReturnUrl=%2fSGP%2fHome"/>
    <add key="HomeURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Home"/>
    <add key="FotosURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Foto/Consulta"/>
    <add key="CapituloCenaURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/CapitulosECenas/Consulta"/>
    <add key="IncluirCapituloURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/CapituloArquivo#possuo"/>
    <add key="DecupagemBasicaURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/capitulosecenas/decupagem"/>
    <add key="DecupagemContinuidadeURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Continuidade/Decupagem"/>
    <add key="DecupagemArteURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Arte/Decupagem"/>
    <add key="IncluirAdendoURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/CapituloArquivo/Adendo?codigoCapitulo=0401&amp;codigoPrograma=28405&amp;ehCapitulo=true&amp;codigoCapituloPacote=0401"/>
    <add key="PlanejamentoRoteiroURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Roteiro/Planejamento"/>
    <add key="RoteiroURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Roteiro/Consulta"/>
    <add key="CenarioURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Cenario"/>
    <add key="PersonagemURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Personagem"/>
    <add key="EspelhoGravacaoURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Continuidade/Espelho" />
    <add key="FrequenciaElencoURL" value="https://sgp-tst.torre2.dev.tvglobo.com.br/SGP/Relatorio/Index?relatorio=FrequenciaElenco" />-->
    <!-- FINAL - DEV.TORRE-->
    
    
    <!--HOMOLOGAÇÃO - SISTEMA.H-->
    <!--INICIO CAMADA ESTRUTURAL - AMBIENTE PRINCIPAL-->
    <add key="LoginURL" value="https://sistemas.h.tvglobo.com.br/sgplgnp/Login.aspx?ReturnUrl=%2fSGP%2fLogin" />
    <add key="HomeURL" value="https://sistemas.h.tvglobo.com.br/SGP/Home" />
    <add key="FotosURL" value="https://sistemas.h.tvglobo.com.br/SGP/Foto/Consulta" />
    <add key="CapituloCenaURL" value="https://sistemas.h.tvglobo.com.br/SGP/CapitulosECenas/Consulta" />
    <add key="IncluirCapituloURL" value="https://sistemas.h.tvglobo.com.br/SGP/CapituloArquivo#possuo" />
    <add key="IncluirAdendoURL" value="https://sistemas.h.tvglobo.com.br/SGP/CapituloArquivo/Adendo" />
    <add key="DecupagemBasicaURL" value="https://sistemas.h.tvglobo.com.br/SGP/capitulosecenas/decupagem" />
    <add key="DecupagemContinuidadeURL" value="https://sistemas.h.tvglobo.com.br/SGP/Continuidade/Decupagem" />
    <add key="DecupagemArteURL" value="https://sistemas.h.tvglobo.com.br/SGP/Arte/Decupagem" />
    <add key="IncluirAdendoURL" value="https://sistemas.h.tvglobo.com.br/SGP/CapituloArquivo/Adendo?codigoCapitulo=0401&amp;codigoPrograma=28405&amp;ehCapitulo=true&amp;codigoCapituloPacote=0401" />
    <add key="PlanejamentoRoteiroURL" value="https://sistemas.h.tvglobo.com.br/SGP/Roteiro/Planejamento" />
    <add key="PlanejamentoRoteiroGROTURL" value="https://sistemas.h.tvglobo.com.br/SGP/Roteiro/PlanejamentoGROT" />
    <add key="ParametrosURL" value="https://sistemas.h.tvglobo.com.br/SGP/Relatorio/Index?relatorio=ParametrosProducao" />
    <add key="RoteiroURL" value="https://sistemas.h.tvglobo.com.br/SGP/Roteiro/Consulta" />
    <add key="CenarioURL" value="https://sistemas.h.tvglobo.com.br/SGP/Cenario" />
    <add key="PersonagemURL" value="https://sistemas.h.tvglobo.com.br/SGP/Personagem" />
    <add key="EspelhoGravacaoURL" value="https://sistemas.h.tvglobo.com.br/SGP/Continuidade/Espelho" />
    <add key="FrequenciaElencoURL" value="https://sistemas.h.tvglobo.com.br/SGP/Relatorio/Index?relatorio=FrequenciaElenco" />
    <add key="IndisponibilidadeLocal" value="https://sistemas.h.tvglobo.com.br/SGP/IndisponibilidadeLocais" />
    <add key="CenarioIncompativelUrl" value="https://sistemas.h.tvglobo.com.br/SGP/ListaIncompatibilidade"/>
    <add key="GrupoLocalGravacaoUrl" value="https://sistemas.h.tvglobo.com.br/SGP/GrupoLocalGravacao"/>
    <add key="LocalGravacaoUrl" value="https://sistemas.h.tvglobo.com.br/SGP/LocalGravacao"/>
    <add key="GestaoAlertaUrl" value="https://sistemas.h.tvglobo.com.br/SGP/GestaoAlerta"/>
    <add key="IndisponibilidadeElencoUrl" value="https://sistemas.h.tvglobo.com.br/SGP/IndisponibilidadeElenco"/>
    <add key="ConsultaLogUrl" value="https://sistemas.h.tvglobo.com.br/SGP/Log/Consulta"/>
    <add key="SequenciaCenicaUrl" value="https://sistemas.h.tvglobo.com.br/SGP/SequenciaCenica"/>
    <!--FINAL HOMOLOGAÇÃO - SISTEMA.H-->
    
    <!--HOMOLOGAÇÃO - SISTEMA.H-->
    <!--INICIO CAMADA ESTRUTURAL - AMBIENTE PRINCIPAL-->
    <!--<add key="LoginURL" value="https://sistemas.h.tvglobo.com.br/sgp_01" />
    <add key="HomeURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Home" />
    <add key="FotosURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Foto/Consulta" />
    <add key="CapituloCenaURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/CapitulosECenas/Consulta" />
    <add key="IncluirCapituloURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/CapituloArquivo#possuo" />
    <add key="IncluirAdendoURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/CapituloArquivo/Adendo" />
    <add key="DecupagemBasicaURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/capitulosecenas/decupagem" />
    <add key="DecupagemContinuidadeURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Continuidade/Decupagem" />
    <add key="DecupagemArteURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Arte/Decupagem" />
    <add key="IncluirAdendoURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/CapituloArquivo/Adendo?codigoCapitulo=0401&amp;codigoPrograma=28405&amp;ehCapitulo=true&amp;codigoCapituloPacote=0401" />
    <add key="PlanejamentoRoteiroURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Roteiro/Planejamento" />
    <add key="PlanejamentoRoteiroGROTURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Roteiro/PlanejamentoGROT" />
    <add key="ParametrosURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Relatorio/Index?relatorio=ParametrosProducao" />
    <add key="RoteiroURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Roteiro/Consulta" />
    <add key="CenarioURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Cenario" />
    <add key="PersonagemURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Personagem" />
    <add key="EspelhoGravacaoURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Continuidade/Espelho" />
    <add key="FrequenciaElencoURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Relatorio/Index?relatorio=FrequenciaElenco" />
    <add key="IndisponibilidadeLocal" value="https://sistemas.h.tvglobo.com.br/SGP_01/IndisponibilidadeLocais" />
    <add key="CenarioIncompativelUrl" value="https://sistemas.h.tvglobo.com.br/SGP_01/ListaIncompatibilidade"/>
    <add key="GrupoLocalGravacaoUrl" value="https://sistemas.h.tvglobo.com.br/SGP_01/GrupoLocalGravacao"/>
    <add key="LocalGravacaoUrl" value="https://sistemas.h.tvglobo.com.br/SGP_01/LocalGravacao"/>
    <add key="GestaoAlertaUrl" value="https://sistemas.h.tvglobo.com.br/SGP_01/GestaoAlerta"/>
    <add key="IndisponibilidadeElencoUrl" value="https://sistemas.h.tvglobo.com.br/SGP_01/IndisponibilidadeElenco"/>
    <add key="ConsultaLogUrl" value="https://sistemas.h.tvglobo.com.br/SGP_01/Log/Consulta"/>
    <add key="SequenciaCenicaUrl" value="https://sistemas.h.tvglobo.com.br/SGP_01/SequenciaCenica"/>-->
    <!--FINAL HOMOLOGAÇÃO - SISTEMA.H-->
    
    <!--INICIO CAMADA INTERNA NOVA - HOMOLOGAÇÃO - SGP_01-->
    <!--<add key="LoginURL" value="https://sistemas.h.tvglobo.com.br/sgp_01" />
    <add key="HomeURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Home" />
    <add key="FotosURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Foto/Consulta" />
    <add key="CapituloCenaURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/CapitulosECenas/Consulta" />
    <add key="IncluirCapituloURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/CapituloArquivo#possuo" />
    <add key="DecupagemBasicaURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/capitulosecenas/decupagem" />
    <add key="DecupagemContinuidadeURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Continuidade/Decupagem" />
    <add key="DecupagemArteURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Arte/Decupagem" />
    <add key="IncluirAdendoURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/capituloarquivo/adendo" />
    <add key="PlanejamentoRoteiroURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Roteiro/Planejamento" />
    <add key="RoteiroURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Roteiro/Consulta" />
    <add key="CenarioURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Cenario" />
    <add key="PersonagemURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Personagem/Index" />
    <add key="EspelhoGravacaoURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Continuidade/Espelho" />
    <add key="FrequenciaElencoURL" value="https://sistemas.h.tvglobo.com.br/SGP_01/Relatorio/Index?relatorio=FrequenciaElenco" />
    <add key="CenarioIncompativelUrl" value="https://sistemas.h.tvglobo.com.br/SGP_01/ListaIncompatibilidade" />-->
    <!--FIM CAMADA INTERNA NOVA - HOMOLOGAÇÃO - SGP_01-->
    
  </appSettings>
</configuration>